#login-cf #login-col{
    border-radius: 10px;
    border: 0.2px solid rgb(216, 213, 213);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#login-cf #login-col #social-media{
    line-height:40px;
    font-size: 14px;
    font-weight: 500;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 4px;
}