#cardlist4-cf .card4-item{
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: rgba(57, 243, 128, 0.493);
    // background-color: rgba(233, 233, 233, 0.596);;
}
#cardlist4-cf .card4-item img{
    height: 180px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
#cardlist4-cf .card4-item h5{
    font-weight: 700;
    padding-top:6px;
}
#cardlist4-cf .card4-item p{
    font-size: 16px;
    // font-weight: 500;
}
#cardlist4-cf .card4-item button{
    width: 40%;
    font-weight: 500;

}